.lightWrapper{
    margin-right: 15px;
}
.lightWrapper .checkmark{
    display: block;
    width: 30px;
    height: 30px;
    border: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #57ddff, #c058f3);
}
.lightWrapper .checkmark span{
    background-color: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    display: block;
}
.lightWrapper .checkmark::after{
    content: "";
    width: 6px;
    height: 16px;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    display: none;
    -webkit-transform: rotateZ(40deg);
    transform: rotateZ(40deg);

}
.lightWrapper .checkInput{
    opacity: 0;
}
.lightWrapper .checkInput:checked  ~ .checkmark span{
    display: none;
}
.lightWrapper .checkInput:checked  ~ .checkmark::after{
    display: block;
}
.DarkWraper{
    margin-right: 15px;
}
.DarkWraper .checkmark{
    display: block;
    width: 30px;
    height: 30px;
    border: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #57ddff, #c058f3);
}
.DarkWraper .checkmark span{
    background-color: #25273C;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    display: block;
}
.DarkWraper .checkmark::after{
    content: "";
    width: 6px;
    height: 16px;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    display: none;
    -webkit-transform: rotateZ(40deg);
    transform: rotateZ(40deg);

}
.DarkWraper .checkInput{
    opacity: 0;
}
.DarkWraper .checkInput:checked  ~ .checkmark span{
    display: none;
}
.DarkWraper .checkInput:checked  ~ .checkmark::after{
    display: block;
}
