@import url('https://fonts.google.com/specimen/Josefin+Sans');
html,
body {
  padding: 0;
  margin: 0;
    font-family: 'Josefin', Sans;
}
a {
  color: inherit;
  text-decoration: none;
}

*{
  /* padding:0px !important; */
  /* margin: 0px !important; */
  outline: none;
  box-sizing: border-box;
}